* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e8e8e8;
  padding: 20px;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(192, 175, 175)
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}